@model WebAPIFinalFianl.Models.Employee

@{
    ViewBag.Title = "AddRecord";
}

<h2>AddRecord</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.employeeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.employeeId, new { id = "employeeId" })
                @Html.ValidationMessageFor(model => model.employeeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.employeeName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.employeeName, new { id = "employeeName" })
                @Html.ValidationMessageFor(model => model.employeeName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.department, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.department, new { id = "department" })
                @Html.ValidationMessageFor(model => model.department)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.salary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.salary, new { id = "salary" })
                @Html.ValidationMessageFor(model => model.salary)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" onlick ="myfunction()  "value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script>
    function myfunction(){
    var requestData = {
               employeeId: $.trim($('#employeeId').val())
               employeeId: $.trim($('#employeeName').val())
               employeeId: $.trim($('#department').val())
               employeeId: $.trim($('#salary').val())
          };


          $.ajax({
             url: 'http://localhost:62149/api/PutEmployee',
             type: 'POST',
             data: JSON.stringify(requestData),
             dataType: 'json',
             contentType: 'application/json; charset=utf-8',
             error: function (xhr) {
                alert('Error: ' + xhr.statusText);
             },
             success: function (result) {
                CheckIfInvoiceFound(result);
             },
             async: true,
             processData: false
          });


    }
  </script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
